<div class="jumbotron text-center">

	<div style="text-align: right;"  >
		<label style="font-size: medium; font-weight: normal;">No. of rows to add : </label>
		<input type="number" ng-model="rangeCount" style="width: 50px"
			onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 46 || event.keyCode == 8)'/>
		<button style="font-size: medium; font-weight: normal;" type="button" ng-model="add" ng-click="addRanges()">Add</button>
	</div>

	<table>
		<tr>
			<th>Name</th>
			<th>From</th>
			<th>To</th>
		</tr>
		
		<tr ng-repeat="range in ipRanges">
			<td><input type="text" ng-model="range.name" style="text-align: center;" ng-disabled="isEditable(range)"/></td>
			<td><input type="text" ng-model="range.from" style="text-align: center;"/></td>
			<td><input type="text" ng-model="range.to" style="text-align: center;"/></td>
			<td>
				<img ng-model="imgRemove" src="img/delete.png" ng-click="removeRange(range)" title="Remove" /> 
			</td>
		</tr>
		
		<tr>
			<td collspan="3"><button class="btn-primary" ng-click="save()">Submit</button></td>
		</tr>
		
	</table>
	
<!-- 	<div ng-bind="creationMessage" class="successMessage"></div> -->
<!-- 	<div ng-bind="errorMessage" class="errorMessage"></div> -->

</div>