<div class="jumbotron text-center" style="width: auto">
    <div>
    	<h3><u>IP Range</u></h3>
        <input type="search" ng-model="searchRange" />
        <div ng-bind="adminiprange_message" class="errorMessage"></div>
        <br />
    	<table ng-table="listRangeTable" border="true" >
                <tr>
                    <th>Sr.</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                <tr ng-repeat="range in ipRanges | filter : searchRange">
                    <td>{{$index+1}}</td>
                    <td>{{range.name}}</td>
                    <td>{{range.from}}</td>
                    <td>{{range.to}}</td>
					<td width="40px"><img src="img/delete.png" title="Delete IP Range" ng-click="deleteIPRange(range.name)" style="cursor:pointer"> </img></td>
                </tr>
            </table>
	</div>
</div>