<div class="jumbotron text-center">
	<div style="padding-top: 10px; width: 100%">
		<table>
			<tr>
				<th>Client Name - {{clientName}}</th>
			</tr>
			
		</table>
		<table border="true" style="width: 100%">
			<th colspan="3" style="text-align: center;">IP Ranges</th>
			<tr class="heading">
				<th style="text-align: center; width: 33%">Name</th>
				<th style="text-align: center; width: 33%">From</th>
				<th style="text-align: center; width: 33%">To</th>
			</tr>

			<tr ng-repeat="range in allIPRanges">
				<td>{{range.name}}</td>
				<td>{{range.from}}</td>
				<td>{{range.to}}</td>
			</tr>

		</table>
		<table>
			<tr>
				<td><input type="button" ng-click="back()" value="Back" class="btn-primary"/></td>
				<td><input type="button" value="Submit" ng-click="submit()" class="btn-primary" ng-hide="confirmation_message"/></td>
			</tr>
		</table>
		<div ng-bind="confirmation_message"></div>
	</div>
</div>