<!-- <div class="jumbotron text-center">

<form name="createClientform" novalidate id="createClientform">
	<label>Enter Client Name : </label>
	<input type="text" name="clientName" ng-model="createclient_name">
	<button class="btn-primary" ng-click="createClient()" style="background-color:#191970">Create it !!</button>
</form>

<div ng-bind="createclient_message"></div>

</div> -->

<div class="jumbotron text-center">
<form name="createclientform" novalidate id="createclientform">
	<table style="text-align: left;">
		<tr style="text-align: left;">
			<td><label>Client Name : </label></td>
			<td><input type="text" name="clientName" ng-model="clientName"
				ng-disabled="ClientTextBox" ng-blur="checkClient()"/>
				<span ng-show="createclientform.clientName.$invalid">Please Enter Client Name</span></td>
		</tr>
		<tr>
			<td>
				<fieldset>
					<legend style="text-align: left;">
						<input type="checkbox" ng-model="PasswordCheckBox" /> <label>Password</label>
					</legend>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td><label>Password : </label></td>
			<td><input type="password" ng-model="password"
				ng-disabled="!PasswordCheckBox"></td>
			<td></td>
		</tr>
		<tr>
			<td><label>Confirm Password : </label></td>
			<td><input type="password" name="confirmpassword"
				ng-model="confirmpassword" ng-disabled="!PasswordCheckBox"></td>
			<td></td>
		</tr>
		<tr>
			<td><label>Validity : </label></td>
			<td><input type="text" ng-model="validityPeriod"
				ng-disabled="!PasswordCheckBox" ng-value="validity.value"></td>
			<td></td>
		</tr>

	</table>
</form>
	<div>
		<fieldset>
			<legend>
				<div style="text-align: left;">
					<input type="checkbox" ng-model="IPRangeCheckBox" /> <label>IP
						Ranges</label>
				</div>
				
			</legend>
			<fieldset ng-disabled="!IPRangeCheckBox">
				<label style="width: 200px;text-align: left;">Name</label>
				<label style="width: 200px;text-align: left; ">From</label>
				<label style="width: 200px;text-align: left;">To</label>
				<div class="form-group" data-ng-repeat="IPrange in IPranges">
					<input type="text" ng-model="IPrange.name" style="width:200px;margin:5px"/> <input
						type="text" ng-model="IPrange.from" style="width:200px;margin: 5px"/> <input
						type="text" ng-model="IPrange.to" style="width:200px;margin: 5px"/> <img
						ng-model="imgRemove" src="img/delete.png"
						ng-show="Delete(IPrange)" ng-click="DeleteIPRange()"
						title="Remove" ng-disabled="!IPRangeCheckBox" /> <img
						ng-model="imgAdd" src="img/add.png" ng-show="AddIPRange(IPrange)"
						ng-click="addNewIPRange(IPrange)" title="Add"
						ng-disabled="!IPRangeCheckBox" />
				</div>
			</fieldset>
		</fieldset>
	</div>
	<div>
		<button class="btn-primary" ng-disabled="createclientform.$invalid"
			ng-click="createClient(PasswordCheckBox,IPRangeCheckBox) ">Create
			it !!</button>
	</div>
	<div ng-bind="createClient_message"></div>
</div>


