<div class="jumbotron text-center">
	<table style="text-align: left;">
		<tr>
			<td> Provider Name : <span style="color: red;">*</span></td>
			<td> <input type="text" ng-model="providerName"/> </td>
		</tr>
		<tr>
			<td> Base Url : <span style="color: red;">*</span></td>
			<td> <input type="text" ng-model="providerBaseUrl"/> </td>
		</tr>
		<tr>
			<td> Certificate Description : </td>
			<td> <textarea rows="5" cols="30" ng-model="providerCertificate" ></textarea></td>
		</tr>
		<tr>
			<td collspan="2"><button class="btn-primary" ng-click="createProvider()">Create</button></td>
		</tr>
	</table>
	<div ng-bind="createProvider_message" class="errorMessage"></div>
</div>