<div class="jumbotron text-center"
	style="width: 100%; padding-top: 5px; padding-bottom: 5px; padding-right: 5px">
	<table border="true" style="width: 100%;">
		<th colspan="2" style="text-align: center;">Client -
			{{ClientInfo.client_id}}</th>
		<tr class="heading">
			<th style="text-align: center; width: 30%">Provider ID</th>
			<th style="text-align: center; width: 70%">Capability ID</th>
		</tr>
		<tr ng-repeat="provision in provisions">
			<td>{{provision.key}}</td>
			<td style="word-wrap: break-word;">{{provision.value}}</td>
		</tr>
	</table>
	<div style="padding-top: 10px; width: 100%">
		<table border="true" style="width: 100%">
			<th colspan="3" style="text-align: center;">IP Ranges</th>
			<tr class="heading">
				<th style="text-align: center; width: 33%">Name</th>
				<th style="text-align: center; width: 33%">From</th>
				<th style="text-align: center; width: 33%">To</th>
			</tr>

			<tr ng-repeat="range in ipRange">
				<td>{{range.name}}</td>
				<td>{{range.from}}</td>
				<td>{{range.to}}</td>
			</tr>

		</table>
	</div>
</div>