<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<div id="menu">
		<a href="#">Home</a>
        <a href="loginservlet">Logout</a>
		<accordion close-others="true"> </accordion-group> <accordion-group
			heading="Client" is-open="false">
		<p ng-repeat="option in clientOptions">
			<a href={{option.hrefValue}}>{{option.name}}</a>
		</p>

		</accordion-group> <accordion-group heading="Providers" is-open="false">
		<p ng-repeat="option in providerOptions">
			<a href={{option.hrefValue}}>{{option.name}}</a>
		</p>
		</accordion-group> <accordion-group heading="Capabilities" is-open="false">
		<p ng-repeat="option in capabilityOptions">
            <a href={{option.hrefValue}}>{{option.name}}</a>
        </p>
		</accordion-group> </accordion>

</div>