<form name="loginform" novalidate id="loginform">

			<table>
				
				<tr>
					<td><label>UserName:</label></td>
					<td><input type="text" name="username" ng-model="admin.userName" ng-minlength="3" ng-maxlength="8" required></td>
					<td>
						<span ng-show="loginform.username.$invalid">UserName is mandatory and size should be between 3 & 8.</span>
					</td>
				</tr>
				
				<tr>
					<td><label>Password:</label></td>
					<td><input type="password" name="password" ng-model="admin.password" ng-minlength="3" ng-maxlength="8" required></td>
					<td>
						<span ng-show="loginform.password.$invalid">Password is mandatory and size should be between 3 & 8. </span>
					</td>		
				</tr>
				
				<tr>
					<td><label>Environment:</label></td>
					<td><input type="radio" ng-model="admin.env" value="ref" name="environment" ng-required="!loginform.admin.env"> REF <input type="radio" ng-model="admin.env" value="live" name="environment" ng-required="!loginform.admin.env">LIVE</td>
					<td>
						<span ng-show="loginform.environment.$invalid">Atleast one environment should be selected.</span>
					</td>
				</tr>
				<tr>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn-primary" ng-click="submitForm()" ng-disabled="loginform.$invalid" style="background-color:#191970">Submit</button>
						<button type="reset" class="btn-primary" ng-click="resetLogin()" style="background-color:#191970">Reset</button>
					</td>
				</tr>
				
			</table>
            <div ng-bind="loginError"></div>

</form>