<div class="jumbotron text-center">
	<div>
		<h3>
			<u>Clients</u>
		</h3>
		<input type="search" ng-model="Search" />
		<div ng-bind="client_message"></div>
		<br />
		<table ng-table="listClientTable" border="1" class="getClientTable">
			<thead>
				<tr>
					<td><h3>Sr.No</h3></td>
					<td colspan="3"><h3>ClientName</h3></td>
				</tr>
			</thead>
			<tr ng-repeat="client in clients  | filter : Search">
				<td>{{$index+1}}</td>
				<td style="padding-right: 30px; text-align: left;"><a
					href='#getClient/{{client.id}}'>{{client.id}}</a></td>
				<td><a href='#updateClient/{{client.id}}'><img src="img/edit.png"></img></a></td>
				<td><img ng-click="deleteClient(client.id)" alt="Delete"
					src="img/delete.png"></td>
			</tr>
		</table>
	</div>
</div>
