<div class="jumbotron text-center" style="width: 100%">
    <div style="width: 100%">
    	<h3><u>Providers</u></h3>
    	<table ng-table="listProviderTable" border="true" style="width: 100%">
                <tr>
                    <th style="text-align: left;" width="50px">Sr.</th>
                    <th style="text-align: left; padding-left: 10px" colspan="3">Provider</th>
                </tr>
                <tr ng-repeat="provider in providers">
                    <td>{{$index+1}}</td>
                    <td style="text-align: left; padding-left: 10px"> {{provider.id}}</td>
                    <td><img src="img/edit.png" title="Edit"></img></td>
					<td><img src="img/delete.png" title="Delete"></td>
                </tr>
            </table>
	</div>
</div>