<div class="jumbotron text-center getInfo">

	<table border="1" style="max-width : 850px;">
		<tr>
			<td>Name</td>
			<td>{{providerId}}</td>
		</tr>
		<tr>
			<td>Uri</td>
			<td>{{providerInfo.base_uri}}</td>
		</tr>
<!-- 		<tr> -->
<!-- 			<td>Cerificate</td> -->
<!-- 			<td style="word-wrap: break-word; max-width: 100"></td> -->
<!-- 		</tr> -->
	</table>
	<div style="padding-top: 5px; width: 100%;">
		<table  border="1" style="padding-top: 5;width: 100%">
			<th colspan="3" style="text-align: center;">Capabilites</th>
			<tr class="heading">
				<th style="text-align: center; width: 25%" >Name</th>
				<th style="text-align: center; width: 75%" >Resources</th>
			</tr>
<!-- 			<tr class="heading"> -->
<!-- 				<th style="text-align: center; width: 33%">Path</th> -->
<!-- 				<th style="text-align: center; width: 33%">Methods</th> -->
<!-- 			</tr> -->
			
			<tr ng-repeat="capability in capabilities">
				<td>{{capability.name}}</td>
				<td style="padding: 0;">
					<table style="width: 100%">
						<tr ng-repeat="route in capability.routes" style="text-align: left;">
							<td style="white-space: nowrap;">
								<span class="method {{route.methods[0]}}">{{route.methods[0]}}</span> {{route.path}}
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	
	<div>
		<table>
			<tr class="heading">
				<th style="text-align: center; width: 100%" >Certificate</th>
			</tr>
			<tr class="heading">
				<td >{{providerInfo.certificate}}</th>
			</tr>
		</table>
	</div>
</div> 