<div class="jumbotron text-center">
	<table style="text-align: left;">
		<tr>
			<td>Client Name : <span style="color: red;">*</span></td>
			<td><autocomplete ng-model="clientName" data="clientNames" on-type="updateClient" attr-placeholder="type client name..."></autocomplete></td>
		</tr>
		<tr>
			<td>Provider Name : <span style="color: red;">*</span></td>
			<td><autocomplete ng-model="providerName" data="providerNames" on-type="updateProvider" attr-placeholder="type provider name..."></autocomplete></td>
		</tr>
		<tr>
			<td>Capability Name : <span style="color: red;">*</span></td>
			<td><autocomplete ng-click="fetchCapabilityList()" ng-model="capabilityName" data="capabilityNames" on-type="updateCapability" attr-placeholder="type capability name..."></autocomplete></td>
		</tr>
	</table>
	<button class="btn-primary" ng-click="addToTable()" style="margin: 5px;">Add</button>
	<div style="color: red; margin: 5px;" ng-bind="add_error"></div>
	<table ng-table="selectedCapabilitiesTable" border="1" style="padding: 5px;">
		<tr>
			<th>Client Name</th>
			<th>Provider Name</th>
			<th>Capability Name</th>
		</tr>
		<tr ng-repeat="provision in provisionNamesJSONObject">
			<td ng-bind="provision.client"></td>
			<td ng-bind="provision.provider"></td>
			<td ng-bind="provision.capability"></td>
		</tr>
	</table>
</div>
