<!DOCTYPE html>
<html ng-app='AdminUtilityApp'>
<head>
<title>Admin Utility</title>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<script type="text/javascript" src="scripts/libs/angular.js"></script>
<script type="text/javascript" src="scripts/libs/angular-route.js"></script>
<script type="text/javascript" src="scripts/libs/angular-cookies.js"></script>
<script type="text/javascript"
	src="scripts/libs/ui-bootstrap-tpls-0.10.0.js"></script>
<script type="text/javascript" src="scripts/AdminUtilityApp.js?v=1"></script>
<script type="text/javascript"
	src="scripts/controllers/AdminLoginController.js?v=1"></script>
<script type="text/javascript"
	src="scripts/factories/AdminUtilityHTTPInterceptor.js?v=1"></script>
<script type="text/javascript" src="scripts/utils/Base64.js"></script>
<script type="text/javascript"
	src="scripts/controllers/NavigatorController.js"></script>
<script type="text/javascript"
	src="scripts/controllers/GetClientInfoController.js"></script>
<script type="text/javascript"
	src="scripts/controllers/ManageClientController.js"></script>
<script type="text/javascript"
	src="scripts/controllers/CreateClientController.js"></script>
<script type="text/javascript"
	src="scripts/controllers/ErrorController.js"></script>
<script type="text/javascript"
	src="scripts/controllers/ConfirmationPageController.js"></script>
<script type="text/javascript"
	src="scripts/factories/ConfirmationDataFactory.js"></script>
<script type="text/javascript" src="scripts/libs/ng-table.js"></script>
<script type="text/javascript"
	src="scripts/controllers/ManageProviderController.js"></script>
<script type="text/javascript" src="scripts/controllers/CreateProviderController.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>
<body>
	<div id="main">
		<div id="banner">
			<center>
				<img src="img/logo-o2.svg" style="margin-right: 50px;"></img> <span
					style="font-weight: bold;">API Gateway</span> <img
					src="img/logo-telefonica.svg" style="margin-left: 50px;"></img>
			</center>
		</div>
		<div ng-show="loginstatus == 'true'"
			ng-controller="NavigatorController">
			<div id="menu">
				<div class="logoutBox">
				<span style="vertical-align: middle;">Logged into {{env | uppercase}} <a href="loginservlet"><img
						src="img/logout.png" style="padding: 5px"></img></a></span>	
				</div>
				<accordion close-others="true"> 
					<accordion-group heading="Client" is-open="false">
						<p ng-repeat="option in clientOptions">
						<a href={{option.hrefValue}}>{{option.name}}</a>
						</p>
					</accordion-group> 
					
					<accordion-group heading="Providers" is-open="false">
						<p ng-repeat="option in providerOptions">
						<a href={{option.hrefValue}}>{{option.name}}</a>
						</p>
					</accordion-group> 
					
					<accordion-group heading="Capabilities" is-open="false">
						<p ng-repeat="option in capabilityOptions">
						<a href={{option.hrefValue}}>{{option.name}}</a>
						</p>
					</accordion-group> 
				</accordion>
			</div>
		</div>
		<div ng-view class="views"></div>
	</div>
</body>
</html>