/* AUTOCOMPLETE */

.autocomplete{
  width:300px;
	font-size:14px;
	height:35px;
  position: relative;
}

.autocomplete input{
  font-size: 14px;
  width: 300px;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 14px;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 200px;
font-size: 14px;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;

}

.autocomplete .highlight {
  background-color: #E2E2E2;
 
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}