/*-------------------------
	The menu
--------------------------*/

html,body{
	width: 100%
}

h1{
	text-align: center;
}

#loginform{
	width: 500px;
	margin: 0 auto;
}

#menu {
    width: 300px;
    padding: 0px 10px;
    margin :0px;
    float : left;
}

div.views{
	width: 900px;
	margin :5px;
	float : left;
	 
   
}