/*-------------------------
	The menu
--------------------------*/
body,html {
	color: white;
	background: url('../img/o2background.png') repeat-x scroll 0px 0px
		#449ED0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1em;
	clear: both;
	display: block;
}

.getClientTable {
	width: 100%;
}
/* 
tr{
	text-align:center;
	padding-left:15px;
	
}
label{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding-left:15px;
}
td {
	padding: 5px;
}
*/
#loginform {
	color: white;
	width: 500px;
	margin: 0 auto;
}

#loginform span.loginspan{
	width:500px;
}
#menu {
	width: 300px;
	padding: 0px 10px;
	margin: 0px;
	float: left;
}
 
div.views {
	min-width: 870px;
	max-width:870px;
	margin: 5px;
	float: left;
}

#error-textbox {
	background: linear-gradient(to bottom, #F9F9F9 0px, #EAEAEA 100%) repeat
		scroll 0% 0% #F9F9F9;
}

#banner {
	height: 50px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: visible;
	border-bottom: 1px solid #D9D9D9;
	display: block;
	height: auto;
	background: linear-gradient(to bottom, #F9F9F9 0px, #EAEAEA 100%) repeat
		scroll 0% 0% #F9F9F9;
	overflow: hidden;
}

.ng-table {
	border: 0px;
}

.getInfo{
	max-width: 850px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-right: 5px;
	font-size: small !important ;
	overflow: scroll;
}

.logoutBox{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	max-height: 40px;
	background-color: #f5f5f5;
	padding: 10px 15px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius : 3px;
	border-bottom-left-radius : 3px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	vertical-align: middle;
	line-height: 1.1;
}

.logoutBox span {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.errorMessage{
	color: red;
	text-align: left;
}

.successMessage {
	color: green;
	text-align: left;
}


.method{
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.GET{
	background-color: #4DAB58;
}

.PUT{
	background-color: #36F;
}

.DELETE{
	background-color: #C30;
}

.POST{
	background-color: #CC9900;
}
.banner11 {
    background-color: transparent;
    background-image: url('img/banner_bg.png');
    background-position: left top;
    background-repeat: repeat-x;
    border-radius: 10px 10px 0 0;
    height: 62px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}
